<?xml version="1.0"?>
<model>
  <name>Qr Code Target</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Noel Loxton</name>
    <email>noeljloxton@gmail.com</email>
  </author>

  <description>
    <p>Qr Code target to be used for visual servoing</p>
  </description>
</model>
